* {
  box-sizing: border-box;
  }

body { background-color: #5DCEC6;
         }

h1 {
  margin-bottom: 15px;
  font-family: Helvetica;  
  text-align: center;
  font-size: 175%;
  color: #172CAF;
}

#box{
   overflow: auto;

}
p {
  border: 1px solid black;
  background-color: grey;
  width: 100%;
  height: 150px;
  font-family: Helvetica;
  color: white;
}

.p1 {    
      float: right;
      background-color: #FF7373;        
     height: 30px;
      width: 40%;
      color:#FFFA73;
      font-family: Helvetica;
      text-align: center;
      font-size: 125%;
     margin-top: 16px;
    }  

 .p2 {    
      float: right;
      background-color: #A60000;
      color:white;        
      height: 30px; 
      width: 40%;
      text-align: center; 
       font-size: 125%;
     margin-top: 16px;   
      }  

 .p3 {    
      float: right;
      background-color: #FFBF40; 
      color:#06266F;        
      height: 30px; 
      width: 40%;
      text-align: center;
       font-size: 125%;
     margin-top: 16px;    
      }  
     


 .p0 {    
     background-color: grey;  
     margin-bottom: 2px;
     margin-right: 4px
     }

   
/* Simple Responsive Framework. */
.row {
  width: 100%;  
}

/********** Large devices only **********/
@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 31.33%;
      float: left;
      margin-right: 2%;
  s
  }
  
}

/********** laptop **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .col-md-6 {
    width: 48%;
    
    float: left;
   margin-right: 2%;

  }
  
  .col-md-12 {
    width: 98%;
    float: left;
    margin-right: 2%;
  }
}

/********** mobile view  **********/
@media (max-width: 767px) {
  
  .col-sm-12 {
    width: 100%;
     float: left;

  }
}
